*{
margin: 0px;
padding: 0px;
}
body{
    background-size: cover;


    
}
header{
    background-color: black;
}
.head-tag{
    float: right;
    margin: top 10px;
    margin-right: 55px;
}
.head-tag a{
color: aqua;
text-decoration: none;
border: 1px solid white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 8px;
margin-right: 9px;
}

.head-tag a:hover{
    background-color: blueviolet;
    color: black;
    transition: .5s ease-in-out;
}
.login{
    border: 2px solid red;
    padding: 30px;
    float: right;
}
.login h2{  
    color: aqua;
}
#login-button{ 
    
    width: 100%;
background-color: rgb(42, 165, 118);
}
